{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }} {{ userMessages[0].username }}
{% endblock %}

{% block body %}
	{% if error %}
		<p class="alert alert-danger error">
			{{ error }}
		</p>
	{% endif %}
{# 	<div class="container mt-4 mb-5 px-5">
		<div class="raw d-flex px-5">
			<div class="col-12 justify-content-center"> #}
	<div class="d-flex mt-5 justify-content-center">
		<div class="col-8">
			<h1 class="tweets-from mt-3 mb-4">All tweets from {{ userMessages[0].username }}</h1>
			{% for userMessage in userMessages %}
				<div class="cardTweet col-12 p-4 mb-2">
					<div class="tweetHeader col-12 mb-4 d-flex flex-row align-items-center">
						<img class="rounded-circle me-3 profilePic" src="/../uploads/{{ userMessage.profile_picture }}" alt="profile-picture">
						<div class="d-flex flex-row align-items-center">
							<p class="fw-bolder content username mb-0 me-2">{{ userMessage.username }}</p>
							{% if userMessage.profile_certified == true %}
								<img class="certified me-2" src="/../uploads/certified.png" alt="certified-logo">
							{% endif %}
							<p class="mb-0 postDate">• {{ userMessage.post_date|date("d/m/Y • H:i") }}</p>
						</div>
					</div>
					<div class="col-12 my-2">
						<p class="lead content">{{ userMessage.content }}</p>
						{% if userMessage.photo_id is not empty %}
							<img class="tweetImg" id="myImg" src="/../uploads/{{ userMessage.name }}" alt="{{ userMessage.name }}">
							<!-- The Modal -->
							<div id="myModal" class="modal">
								<span class="close">&times;</span>
								<img class="modalContent" id="img01">
								<div id="caption"></div>
							</div>
						{% endif %}
					</div>
					<div class="d-flex flex-row align-items-center">
						<a class="my-2" href="/home/like/{{ userMessage.id_message }}">
							<i class="far fa-star me-1"></i>
						</a>
						<p class="likesCount mb-0">{{ userMessage.likesCounter }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

