{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block title %}{{ userMessages[0].username }}{% endblock %}

{% block content %}
	{% if error %}
		<ul class="alert alert-danger error">
			<li>{{ error }}</li>
		</ul>
	{% endif %}
	<div class="container mt-4 mb-5 px-5">
		<div class="raw d-flex px-5">
			<div class="col-12 justify-content-center">

				<h1 class="tweets-from mt-3 mb-4">All tweets from
					{{ userMessages[0].username }}</h1>

				{% for userMessage in userMessages %}
					<div class="card-tweet col-12 px-4 py-4 mb-2">
						<div class="tweet-header col-12 d-flex flex-row align-items-center">
							<img class="rounded-circle me-3 profile-pic" src="/../uploads/{{ userMessage.profile_picture }}" alt="profile-picture">
							<div class="d-flex flex-row align-items-center">
								<p class="fw-bolder content username mb-0 me-2">{{ userMessage.username }}</p>
								{% if userMessage.profile_certified == true %}
									<img class="certified me-2" src="/../uploads/certified.png" alt="certified-logo">
								{% endif %}
								<p class="mb-0 post_date">•
									{{ message.post_date|date("d/m/Y • H:i") }}</p>
							</div>
						</div>
						<div class="col-12 px-5 ms-5">
							<div class="pe-5">
								<p class="lead content">{{ userMessage.content }}</p>
								{% if userMessage.photo_id is not empty %}
									<img
									class="mb-3 tweet-img" id="myImg" src="/../uploads/{{ userMessage.url }}" alt="{{ userMessage.name }}">

									<!-- The Modal -->
									<div id="myModal" class="modal">
										<span class="close">&times;</span>
										<img class="modal-content" id="img01">
										<div id="caption"></div>
									</div>
								{% endif %}
							</div>
							titi
							<div class="d-flex flex-row align-items-center">
								<a href="/home/add/{{message.message_id}}">
									<i class="far fa-star me-1"></i>
								</a>
								<p class="likes-count mb-0">{{ userMessage.likescounter }}</p>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="/assets/js/script.js" crossorigin="anonymous"></script>
{% endblock %}
